<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name"viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href=".css" type="text/css" />
	<title>Portfoladvice</title>
</head>

<body>
	<form class="form-wrapper" action="{{ url_for('traitement') }}" method="POST">
		<fieldset class="section is-active">
			<p>
				<label for="montant">Montant à investir</label>
				<input type="text" name="montant" id="montant" placeholder="Montant en euro" required>
			</p>
		</fieldset>
		<fieldset class="section">
			<h3>Risque</h3>
			<p>
				<input type="radio" name="r1" id="faible" value="faible" checked>
				<label for="faible">
					<h4>Faible</h4>
				</label>
			</p>
			<p>
				<input type="radio" name="r1" id="modere" value="modere"><label for="modere">
					<h4>Modéré</h4>
				</label>
			</p>
			<p>
				<input type="radio" name="r1" id="haut" value="haut"><label for="haut">
					<h4>Haut</h4>
				</label>
			</p>
		</fieldset>
		<fieldset class="section 2">
			<h3>Durée d'investissent</h3>
			<p>
				<input type="radio" name="r2" id="court" value="court" checked>
				<label for="court">
					<h4>Court terme</h4>
				</label>
			</p>
			<p>
				<input type="radio" name="r2" id="moyen" value="moyen"><label for="moyen">
					<h4>Moyen terme</h4>
				</label>
			</p>
			<p>
				<input type="radio" name="r2" id="long" value="long"><label for="long">
					<h4>Long terme</h4>
				</label>
			</p>
			</p>
			<input type="submit">
		</fieldset>
	</form>
</body>

</html>