<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Les_strategies.css" type="text/css" />
	<style>
		body,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: "Lato", sans-serif
		}

		.w3-bar,
		h1,
		button {
			font-family: "Montserrat", sans-serif
		}

		.fa-anchor,
		.fa-coffee {
			font-size: 200px
		}
	</style>
	<meta id="Reverso_extension___elForCheckedInstallExtension" name="Reverso extension" content="2.2.203">
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="navbar-container container">
				<input type="checkbox" name="" id="">
				<div class="hamburger-lines">
					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
				</div>
				<ul class="menu-items">
					<li><a href="Accueil.html">Accueil</a></li>
					<li><a href="Definition_projet.html">Definition du projet</a></li>
					<li><a href="Les_strategies.html">Les stratégies</a></li>
				</ul>
				<a href="Accueil.css"><img src="./images/Logo_portfoladvice.png" alt="" align="top" /></a>
			</div>
		</nav>
	</header>

	<body>
		<!-- First Grid -->
		<div class="w3-row-padding w3-padding-64 w3-container">
			<div class="w3-content">
				<div class="w3-twothird">
					{% if investissement %}
						<p>Vous voulez investir: {{ investissement }}</p>
					{% else %}
						<p>Veuillez entrer un montant valide</p>
					{% endif %}
				
					<h1>All weather</h1>
					<h5 class="w3-padding-32">Le portefeuille all weather vise à être préparé à toutes les conditions économiques ou à tous les chocs
                        économiques.
                    En 2022, il y a un mélange tourbillonnant et dangereux de risques économiques, sanitaires mondiaux et
                        géopolitiques.
                    La plupart des investisseurs ont d'énormes trous dans leur portefeuille et ne sont pas préparés aux
                        changements de régime économique
                        y compris une période d'inflation.Un portefeuille tout temps aura des actifs qui fonctionnent dans les périodes de croissance économique
                        ou de déclin économique qui peuvent survenir dans les périodes inflationnistes ou déflationnistes.
                    Crée par Raymond Thomas Dalio, il est un investisseur milliardaire américain et gestionnaire de fonds
                        spéculatifs,<br>
                        qui a été co-directeur des investissements du plus grand fonds spéculatif au monde, Bridgewater
                        Associates, depuis 1985.</h5>
				</div>

				<div class="w3-third w3-center">
					<i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-64 w3-center w3-opacity">
			<div class="w3-xlarge w3-padding-32">
				<i class="fa fa-facebook-official w3-hover-opacity"></i>
				<i class="fa fa-instagram w3-hover-opacity"></i>
				<i class="fa fa-snapchat w3-hover-opacity"></i>
				<i class="fa fa-pinterest-p w3-hover-opacity"></i>
				<i class="fa fa-twitter w3-hover-opacity"></i>
				<i class="fa fa-linkedin w3-hover-opacity"></i>
			</div>
			<p>Crée par Lucie Delannay</p>
		</footer>

		<script>
			// Used to toggle the menu on small screens when clicking on the menu button
			function myFunction() {
				var x = document.getElementById("navDemo");
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				}
				else {
					x.className = x.className.replace(" w3-show", "");
				}
			}
		</script>

	</body>

</html>
