<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Accueil.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="Accueil.html">Accueil</a></li>
                    <li><a href="Definition_projet.html">Definition du projet</a></li>
                    <li><a href="Les_strategies.html">Les stratégies</a></li>
                </ul>
                <a href="Accueil.html"><img src="./images/Logo_portfoladvice.png" alt="" align="top" /></a>
            </div>
        </nav>
    </header>
    <div>
        <h2 class="titre1">All weather</h2>
        <ul class="pres">
            <li>Le portefeuille all weather vise à être préparé à toutes les conditions économiques ou à tous les chocs
                économiques.</li>
            <li>En 2022, il y a un mélange tourbillonnant et dangereux de risques économiques, sanitaires mondiaux et
                géopolitiques.</li>
            <li>La plupart des investisseurs ont d'énormes trous dans leur portefeuille et ne sont pas préparés aux
                changements de régime économique
                y compris une période d'inflation.</li>
            <li>Un portefeuille tout temps aura des actifs qui fonctionnent dans les périodes de croissance économique
                ou de déclin économique qui peuvent survenir dans les périodes inflationnistes ou déflationnistes.</li>
            <li>Crée par Raymond Thomas Dalio, il est un investisseur milliardaire américain et gestionnaire de fonds
                spéculatifs,<br>
                qui a été co-directeur des investissements du plus grand fonds spéculatif au monde, Bridgewater
                Associates, depuis 1985.</li>
        </ul>
        <h2 class="titre1">Nasdac strategie</h2>
        <ul class="pres">
            <li>Stratégie haut rendement mais plus risquée</li>
            <li></li>
        </ul>
    </div>
</body>

</html>