<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/traitement.css') }}" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Navbar</title>
</head>

<body>
	<nav class="navbar">
		<div class="navbar-container container">
			<input type="checkbox" name="" id="">
			<div class="hamburger-lines">
				<span class="line line1"></span>
				<span class="line line2"></span>
				<span class="line line3"></span>
			</div>
			<ul class="menu-items">
				<li><a href="/">Accueil</a></li>
				<li><a href="/Definition_projet">Definition du projet</a></li>
				<li><a href="/Les_strategies">Les stratégies</a></li>
			</ul>
			<a href="/"><img src="{{ url_for('static', filename='images/Logo_portfoladvice.png') }}" alt=""
					align="top" /></a>
		</div>
	</nav>
	<div class="w3-twothird">
		<h1>Montant insuffisant, Veuillez entrer un montant superieur</h1>
		<br>

</body>

</html>