<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/traitement.css') }}" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Navbar</title>
</head>

<body>
	<nav class="navbar">
		<div class="navbar-container container">
			<input type="checkbox" name="" id="">
			<div class="hamburger-lines">
				<span class="line line1"></span>
				<span class="line line2"></span>
				<span class="line line3"></span>
			</div>
			<ul class="menu-items">
				<li><a href="/">Accueil</a></li>
				<li><a href="/Definition_projet">Definition du projet</a></li>
				<li><a href="/Les_strategies">Les stratégies</a></li>
			</ul>
			<a href="/"><img src="{{ url_for('static', filename='images/Logo_portfoladvice.png') }}" alt=""
					align="top" /></a>
		</div>
	</nav>
	<div class="w3-twothird">
		<h1>All weather</h1>
		<br>

		{% if investissement %}
		<p class="investissement">Vous voulez investir: {{ investissement }}€</p>
		{% else %}
		<p>Veuillez entrer un montant valide</p>
		{% endif %}

		<a href="/"><img class="graph" src="{{ url_for('static', filename='images/graph_all_w_authentique.png') }}"
				alt="" align="top" /></a>
		<p class="w3-padding-32">Le portefeuille all weather vise à être préparé à toutes les conditions économiques ou
			à tous les chocs
			économiques.
			En 2022, il y a un mélange tourbillonnant et dangereux de risques économiques, sanitaires mondiaux et
			géopolitiques.
			La plupart des investisseurs ont d'énormes trous dans leur portefeuille et ne sont pas préparés aux
			changements de régime économique
			y compris une période d'inflation.Un portefeuille tout temps aura des actifs qui fonctionnent dans les
			périodes de croissance économique
			ou de déclin économique qui peuvent survenir dans les périodes inflationnistes ou déflationnistes.
			Crée par Raymond Thomas Dalio, il est un investisseur milliardaire américain et gestionnaire de fonds
			spéculatifs,<br>
			qui a été co-directeur des investissements du plus grand fonds spéculatif au monde, Bridgewater
			Associates, depuis 1985.</p><br><br>
		<h2>Répartition classique</h2>
		<!-- {% for item in donnee %}
		{% if donnee %}
		<p>{{ key }}</p>
		{% else %}
		<p>Veuillez entrer un montant valide</p>
		{% endif %}
		{% endfor %} -->

		<table>
			<table>
				<thead>
					<tr>
						<th>Name
						<th>Code isin
						<th>Frais annuels
						<th>Repartition
						<th>Value
				</thead>
				<tbody>
					{% for t in donnee %}
					<tr>
						{% for i in t %}
							<td>{{ i }}</td>
						{% endfor %}

					</tr>
					{% endfor %}
					
					
				</tbody>
			</table>
		<h2>Répartition personnalisée</h2> <br><br>
		{% if total %}
		<p>Nous vous proposons d'investir: {{ total }}€</p>
		{% endif %}
		<table>
			<thead>
				<tr>
					<th>Nombre Etf personnalisée
					<th>Coup total par ETF
			</thead>
			<tbody>
					{% for nb in range(12) %}
					<tr>
						<td>{{ list_nb[nb] }}</td>
						<td>{{ list_euro[nb] }}€</td>
					</tr>
						
					{% endfor %}
			</tbody>
		</table>
	</div>
</body>

</html>